* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: #000;
}

h1 {
    font-family: uniwars, sans-serif;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    padding: 40px 0 20px 0;
}

.cardContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
    margin: 50px auto;
}

.cardWrapper {
    margin: 10px;
    width: 350px;
    height: 370px;
    overflow: hidden;
    background-color: #a9a9a9;
    border-radius: 10px;
    position: relative;
}

h2, h3 {
    padding: 15px;
}

h2 {
    text-transform: uppercase;
    font-family: orbitron, sans-serif;
}

h3 {
    position: absolute;
    top: 320px;
}

.logo {
    height: 120px;
    position: absolute;
    top: 30px;
    left: -10px;
}