* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: #000;
    scroll-behavior: smooth;
}

h1 {
    font-family: uniwars, sans-serif;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    padding: 40px 0 20px 0;
}

.cardContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
    margin: 50px auto;
}

.cardWrapper {
    margin: 10px;
    width: 350px;
    height: 370px;
    overflow: hidden;
    background-color: #a9a9a9;
    border-radius: 10px;
    position: relative;
}

.detailsCard {
    margin: 20px auto;
    width: 600px;
    background-color: #a9a9a9;
    font-family: orbitron, sans-serif;
    border-radius: 5px;
}

.titleWrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
}

.imageDetailsWrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

.gameDetails {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.gameDetails p {
    margin-bottom: 5px;
}

.playGameButton {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.gameDescription {
    padding: 5px;
    margin: 10px;
}

h2, h3 {
    padding: 15px;
}

h2 {
    text-transform: uppercase;
    font-family: orbitron, sans-serif;
}

a h3 {
    position: absolute;
    top: 320px;
}

a {
    text-decoration: none;
    color: #000000;
}

footer a {
    background-color: #fff;
    padding: 10px 10px;
    color: #000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
}